*{
    box-sizing: border-box;
}
html{
    height: 100%;
}
body{
    height: 100%;
    background-color: #000a17;
    color: white;
    font-family: 'Oswald', sans-serif;
}
canvas{
    color:black;
    margin: 0;
    padding: 0;
}

.d-none {
    display: none;
}
img, h2{
    display: inline;
}
.my-spinner{
    height: 7rem;
    width: 7rem;
    margin-top: 10rem;
}
img[src=""]{
    display: none;
}
img {
    height: 90px;
    width: 160px;
    -o-object-fit: scale-down;
}
p{
    border: 1px solid  #42EADDFF;
    border-radius: 10px;
    width: 60%;
}
a{
    color: #42EADDFF;
}

.table{
    margin-top: 1rem;
}
.company-red{
    color: red;
}
.company-green{
    color: lightgreen;
}
